# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Power BI
*.pbix

# Track project data layers
!data/
!data/raw/
!data/raw/**
!data/bronze/
!data/bronze/**
!data/silver/
!data/silver/**
!data/gold/
!data/gold/**

# Track analyzed datasets
!dashboard/
!dashboard/exports/
!dashboard/exports/**

# Test scripts
app/test_clean.py
# Track Gold warehouse database
!data/gold/
data/gold/*
!data/gold/warehouse.duckdb